{% extends "base.html" %}

{% block main %}
<div class="container-fluid mt-1">
    <div class="row min-vh-100">
        <div class="col-3 bg-dark text-light p-3">
            <h3>Student Menu</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/student/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/student/profile">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/student/placement_drives">Open Placement Drives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/student/history">History</a> 
                    <!-- application status and past placements -->
                </li>

            </ul>
        </div>

        <div class="col-9 p-4">
            {% block dashboard_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}